@model WebApplicationsebas.Models.Conductor

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles del conductor</h1>

<div>
    <h4>Conductor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreConductor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreConductor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AñoExpiraLicencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AñoExpiraLicencia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
