@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color: #3498db;">Bienvenidos a Control Vehicular</h1>
    <p style="font-size: 1.2em;">Aqui encontraras un pagina web para Crear conductores y asignar automoviles con foto a esos conductores</a>.</p>
    <div style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.3s;">
        <img src="https://cuentavalenzuela.blob.core.windows.net/contenedorvalenzuela01/elementos-que-constituyen-los-motores.gif" alt="Alternate Text" height="500" width="500" style="border-radius: 5px 5px 0 0;" />
    </div>
</div>
