@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<p>
    Este sitio respeta y protege la privacidad de sus visitantes. No vendemos, alquilamos ni prestamos ninguna información personal sobre nuestros visitantes a terceros.
    Cualquier información que nos proporcione será tratada con el mayor cuidado y seguridad posible ;).
</p>
<div style="text-align: center;">
    

    <img src="https://cuentavalenzuela.blob.core.windows.net/contenedorvalenzuela01/security-930_256.gif" alt="Alternate Text" height="300" width="300" style="border-radius: 5px; margin: 0 auto;" />
</div>
